/* You can add global styles to this file, and also import other style files */
/* MODAL STYLES
-------------------------------*/
jw-modal {
  /* modals are hidden by default */

  display: none;
}
jw-modal .jw-modal {
  /* modal container fixed across whole screen */

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* z-index must be higher than .jw-modal-background */

  z-index: 1000;
  /* enables scrolling for tall modals */

  overflow: auto;
}
jw-modal .jw-modal .jw-modal-body {
  padding: 20px;
  background: #fff;
  /* margin exposes part of the modal background */

  margin: 40px;
}
jw-modal .jw-modal-background {
  /* modal background fixed across whole screen */

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* semi-transparent black  */

  background-color: #000;
  opacity: 0.75;
  /* z-index must be below .jw-modal and above everything else  */

  z-index: 900;
}
body.jw-modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */

  overflow: hidden;
}
/* typography */

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

/* form formatting */
form{
  font-size: 1.7em;
}

/* table */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid black;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th, td {
  padding: 20px;
}

thead th, tfoot th {
  font-family: 'Rock Salt', cursive;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}

tfoot th {
  text-align: right;
}

tbody tr:nth-child(odd) {
  background-color: #A9A9A9;
}

tbody tr:nth-child(even) {
  background-color: #F8F8FF;
}

table {
  background-color: #DCDCDC;
}

/* led's */

.led-green {
  margin: 0 auto;
  width: 34px;
  height: 34px;
  background-color: #ABFF00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
  position: absolute;
  right: 200px;
  top: 50px;
}
.led-red {
  margin: 0 auto;
  width: 34px;
  height: 34px;
  background-color: #F00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
  -webkit-animation: blinkRed 0.5s infinite;
  -moz-animation: blinkRed 0.5s infinite;
  -ms-animation: blinkRed 0.5s infinite;
  -o-animation: blinkRed 0.5s infinite;
  animation: blinkRed 0.5s infinite;
  position: absolute;
  right: 200px;
  top: 50px;
}

.led-green::before{
  content: 'Subscribed';
  font-weight: bold;
  font-size: 1.7em;
  margin-left: 50px;
}

.led-red::before{
  content: 'Subscribed';
  font-size: 1.7em;
  font-weight: bold;
  margin-left: 50px;
}

@-webkit-keyframes blinkRed {
  from { background-color: #F00; }
  50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
  to { background-color: #F00; }
}
@-moz-keyframes blinkRed {
  from { background-color: #F00; }
  50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
  to { background-color: #F00; }
}
@-ms-keyframes blinkRed {
  from { background-color: #F00; }
  50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
  to { background-color: #F00; }
}
@-o-keyframes blinkRed {
  from { background-color: #F00; }
  50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
  to { background-color: #F00; }
}
@keyframes blinkRed {
  from { background-color: #F00; }
  50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
  to { background-color: #F00; }
}

p {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 2em;
  color: #000000;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
