<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img src="/assets/images/TeamBravo.jpeg" width="500" class="img-rounded img-responsive" >
</div>

  <h2>Search by the following: </h2>
  <div class="form-group">
    <form #locationForm="ngForm">
      <label for="Location"> Location:  </label><br>
      <input [(ngModel)]="locationModel" name="Location" type="text" id="Location" class="form-control"><br>
      <button class="button" (click)="onSubmit(locationForm.value.Location,'/location/');false">Search</button>
    </form>

    <form #userForm="ngForm">
      <label for="User"> User:  </label><br>
      <input (ngModel)="userModel" name="User" type="text" id="User"><br>
      <button class="button" (click)="onSubmit(userForm.value.User,'/user/');false">Search</button>
    </form>

    <form #panelForm="ngForm">
      <label for="Panel"> Panel:  </label><br>
      <input (ngModel)="panelModel" name="Panel" type="text" id="Panel"><br>
      <button class="button" (click)="onSubmit(panelForm.value.Panel,'/panel/');false">Search</button>
    </form>

    <form #severityForm="ngForm">
      <label  for="Severity"> Severity:  </label><br>
      <input (ngModel)="severityModel" name="Severity" type="text" id="Severity"   ><br>
      <button class="button" (click)="onSubmit(severityForm.value.Severity,'/severity/');false">Search</button>
    </form>
  </div>

  <h2><a class="button" rel="noopener" (click)="onSubmit('','/raw/');false">Raw</a></h2>
<router-outlet></router-outlet>
